
<div class="container">
  
    <div class="secao">
        <h3 class="text-center">Featured books of the week in category Fiction
        </h3>
        <h5 class="text-center">
            Featured books of the week in category Fiction
            
            Take advantage of the offers below, discount books, the sweetest ones</h5>
    </div>
  
    <hr />
  
    <div *ngFor="let fiction of AtributoFiction,  let i = index" class="row">
      <div class="col-md-4">
        <img [src]="fiction.image[0].url"  class="img-fluid" />
      </div>
  
      <div class="col-md-8">
        <div class="row">
          <h4>{{fiction.title}}</h4>
        </div>
  
        <div class="row">
          <h5>{{fiction.description}}</h5>
        </div>
  
        <div class="row">
          <p>Category: <b>{{fiction.category}}</b></p>
        </div>
  
        <div class="row">
          <p class="price">€{{fiction.price}}</p>
        </div>
  
        <div class="row">
          <button class="btn btn-outline-info" [routerLink]="['/ofertaIndividual', fiction.id]"  >Know more</button>
        </div>
      </div>
    </div>
  
    <hr />
  
  </div>