.bg-info{
    background-color: rgb(0, 98, 155)!important
}
.fa{
    color:rgbrgb(0, 98, 155)!important
}
.card border-primary{
    border-color: rgb(0, 98, 155)!important
}
.row{
    margin-top: 7%
}