.ordem-compra{
    margin-top: 60px;
    margin-bottom: 60px

}

h5{
    color: rgb(9, 92, 148);
    font-size: 1.5rem
}



.img1{
    padding: 10px;
    height: 10px;
}

h4{
    color: rgb(20, 84, 128);
    font-size: 1.5rem;
    text-align:center; 
}
.p1{
    color: rgb(240, 53, 78);
    text-align:center; 
}